<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708916792764-rd05vv4r739bn0ippuha7p2nahir48cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708916792764-rd05vv4r739bn0ippuha7p2nahir48cu</string>
	<key>API_KEY</key>
	<string>AIzaSyBMLvTlmlYnoVJcrpkDUZ8a-_pO75_lxho</string>
	<key>GCM_SENDER_ID</key>
	<string>708916792764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geneat.nmd.group</string>
	<key>PROJECT_ID</key>
	<string>test-fcm-882b1</string>
	<key>STORAGE_BUCKET</key>
	<string>test-fcm-882b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708916792764:ios:6d0f30123326f574b7afb9</string>
</dict>
</plist>
